@if (isOpen()) {
<div class="modal">
  <div class="card">
    <div class="header">
      <h3 class="title">{{mode() === "create" ? "Add task" : "Edit task"}}</h3>
      <button class="close-btn" (click)="close.emit()">
        <app-icon-close />
      </button>
    </div>

    <form [formGroup]="tasksForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label for="title">title</label>
        <input id="title" type="text" formControlName="title" />

        @if (tasksForm.controls.title.touched &&
        tasksForm.controls.title.invalid) {
        <span class="error">title is required</span>
        }
      </div>

      <div class="form-group">
        <label for="description">description</label>
        <textarea
          id="description"
          formControlName="description"
          placeholder="Enter task description"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="priority">priority</label>
        <select id="priority" formControlName="priority">
          <option value="low">low</option>
          <option value="medium">medium</option>
          <option value="high">high</option>
        </select>
      </div>

      <div class="form-group">
        <input type="hidden" formControlName="status" />
      </div>

      <button type="submit" class="submit-btn" [disabled]="tasksForm.invalid">
        {{mode() === "create" ? "Add" : "Edit"}}
      </button>
    </form>
  </div>
</div>
}
