.task-card {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
}

.title {
    line-height: 1.3;
}

.edit-btn {
    border: none;
    background: transparent;
    cursor: pointer;
}