.profile {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header {
    margin-bottom: 10px;

    .title {
        font-size: 1.5rem;
    }
}

.import-export-btns {
    display: flex;
    gap: 15px;

    .btn {
        background: transparent;
        border: 1px solid black;
        font-size: 20px;
        font-family: Outfit;
        padding: 5px 10px;
        cursor: pointer;
    }

    .btn:hover {
        opacity: 0.9;
    }
}