:host {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    width: 100%;
    height: 100dvh;
}

.wrapper {
    display: flex;
    padding: 30px;

    aside {
        width: 20%;
    }

    main {
        width: 80%;
    }
}