<div class="board">
  <div class="todo">
    <div class="header">
      <h3 class="label">todo</h3>
      <button
        class="add-btn"
        (click)="openTaskModal.emit({ mode: TaskModalMode.CREATE, status: TaskStatus.TODO, task: null })"
      >
        <app-icon-plus />
      </button>
    </div>
    <div class="tasks">
      @for (task of todoTasks(); track task.id) {
      <app-task-card
        [task]="task"
        (edit)="openTaskModal.emit({mode: TaskModalMode.EDIT, status: TaskStatus.TODO, task})"
      />
      }
    </div>
  </div>
  <div class="progress">
    <div class="header">
      <h3 class="label">progress</h3>
      <button
        class="add-btn"
        (click)="openTaskModal.emit({ mode: TaskModalMode.CREATE, status: TaskStatus.PROGRESS, task: null })"
      >
        <app-icon-plus />
      </button>
    </div>
    <div class="tasks">
      @for (task of progressTasks(); track task.id) {
      <app-task-card
        [task]="task"
        (edit)="openTaskModal.emit({mode: TaskModalMode.EDIT, status: TaskStatus.PROGRESS, task})"
      />
      }
    </div>
  </div>
  <div class="done">
    <div class="header">
      <h3 class="label">done</h3>
      <button
        class="add-btn"
        (click)="openTaskModal.emit({ mode: TaskModalMode.CREATE, status: TaskStatus.DONE, task: null })"
      >
        <app-icon-plus />
      </button>
    </div>
    <div class="tasks">
      @for (task of doneTasks(); track task.id) {
      <app-task-card
        [task]="task"
        (edit)="openTaskModal.emit({mode: TaskModalMode.EDIT, status: TaskStatus.DONE, task})"
      />
      }
    </div>
  </div>
</div>
