.board {
    display: flex;
    margin-top: 20px;
}

.todo,
.progress,
.done {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 30px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .add-btn {
            background: transparent;
            border: none;
            cursor: pointer;
        }
    }

    .tasks {
        display: flex;
        flex-direction: column;
        gap: 30px;
        min-height: 200px;
        padding: 8px 0;
    }
}

.cdk-drop-list-dragging app-task-card:not(.cdk-drag-placeholder) {
    transition: transform 200ms ease;
}

.tasks.cdk-drop-list-receiving {
    outline: 1px dashed black;
    outline-offset: 8px;
}
