<div class="board">
  <div class="todo">
    <div class="header">
      <h3 class="label">todo</h3>
      <button
        class="add-btn"
        (click)="openTaskModal.emit({ mode: TaskModalMode.CREATE, status: TaskStatus.TODO })"
      >
        <app-icon-plus />
      </button>
    </div>
    <div class="tasks">
      @for (task of todoTasks(); track task.id) {
      <app-task-card [task]="task" />
      }
    </div>
  </div>
  <div class="progress">
    <div class="header">
      <h3 class="label">progress</h3>
      <button
        class="add-btn"
        (click)="openTaskModal.emit({ mode: TaskModalMode.CREATE, status: TaskStatus.PROGRESS })"
      >
        <app-icon-plus />
      </button>
    </div>
    <div class="tasks">
      @for (task of progressTasks(); track task.id) {
      <app-task-card [task]="task" />
      }
    </div>
  </div>
  <div class="done">
    <div class="header">
      <h3 class="label">done</h3>
      <button
        class="add-btn"
        (click)="openTaskModal.emit({ mode: TaskModalMode.CREATE, status: TaskStatus.DONE })"
      >
        <app-icon-plus />
      </button>
    </div>
    <div class="tasks">
      @for (task of doneTasks(); track task.id) {
      <app-task-card [task]="task" />
      }
    </div>
  </div>
</div>
