@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: Outfit, sans-serif;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    letter-spacing: 1.5px;
    line-height: 0.95;
}

p {
    margin: 0;
}